body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    background-color: greenyellow;
}

section {
    background-color: white;
    inline-size: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.image_holder {
    background-color: greenyellow;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    color: orangered;
    text-shadow: 3px;
}

h1.index_title {
    background-color: rgb(238, 238, 72);
    margin-top: 0px;
    padding: 30px;

}

h2 {
    margin-bottom: 0px;
    padding: 5px 0;
    color: rgb(255, 255, 255);
}

h2.ingredients_title {
    background-color: rgb(118, 118, 118);
}

h2.steps_title {
    background-color: rgb(125, 186, 33);
}

h3 {
    margin-top: 0;
}

p {
    text-align: left;
}


ul {
    padding: 10px;
}

.recipes_ul {
    border: dotted greenyellow 2px;
}

.recipes_li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    text-align: center;
    list-style: none;
}

.spacer {
    padding-top: 30px;
}

.dough {
    text-align: right;
    direction: rtl;
    padding-right: 10px;
    padding-top: 5px;
}

.filling {
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
}

.ingredients {
    background-color: lightgray;
    padding-left: 20px;
    padding-right: 20px;
}

.ingredients:has(.dough) {
    border-bottom: dotted black 3px;
}

.ingredients_list {
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}

.ingredients_list.dough {
    text-align: right;
}

.steps {
    background-color: rgb(248, 248, 162);
    margin-top: 0;
    padding: 10px 45px;
}
